
{% extends 'base.html' %}


{% block title %}
 entries
{% endblock %}

{% block body %}



<br>
<br>
<br>

<div class="container">

     <div class="raw">
         <div class="col-md-12 col-md-offset-0" >
             <div class="panel panel-default">



                   <div class="panel-body" style="background-color:#FAFAD2" >

                        <div class="raw">

                            <table class="table">
                              <thead>
                                <tr>
                                  <th> Year</th>
                                  <th> Country</th>
                                  <th> State </th>
                                  <th> Locals </th>
                                  <th> Type  </th>
                                  <th> Camps  </th>
                                  <th> Detail </th>
                                </tr>
                              </thead>
                              <tbody>


                              {% for entry in entries %}
                                <tr>
                                  <td>Year</td>
                                  <td>{{entry.country}}</td>
                                  <td>{{entry.state}}</td>
                                  <td>{{entry.local}}</td>
                                  <td>{{entry.type}}</td>
                                  <td>{{entry.camp.count}}</td>

                                  <td><a href="{% url 'entry-detail' pk=entry.id %}">Detail</a></td>
                                </tr>


                               {% endfor %}
                               </tbody>
                            </table>

                        </div>

                   </div>


             </div>

         </div>

     </div>


</div>

     {% for entry in entries %}

                <p>{{ entry.camp.count }}</p>

                   <br>

                  {% for camp in entry.camp.all %}
                     {{camp.name}}
                        <br>
                         {{request.path}}

                    {%endfor%}

    {%endfor%}

{% for camp in entries.camp.all %}
 {{camp.name}}
<br>
 {{request.path}}
<br>
{%endfor%}




























{% endblock %}