
{% extends 'app/base.html' %}


{% block title %} Home {% endblock %}

{% block body %}





<br>
<br>
<br>

 <div class="raw">
         <div class="col-md-8 col-md-offset-3" >
              <h1>HOW TO PREPARE FOR AN EMERGENCY</h1>
         </div>
 </div>



<div class="container">
    <div class="raw">
        <div class="col-md-12">

           <h2>There are three key things you can do to prepare for an emergency:</h2>
           <ol>
              <li>Prepare an <a href="#1"><i>emergency kit</i></a></li>
              <li><a href="#2"><i> Plan</i></a> ahead</li>
              <li> Be <a href="#3"><i>informed</i></a></li>
           </ol>
        </div>

        </div>
</div>

<div class="container">
    <ol >
        <li >
             <div class="raw" id="1">
                 <h3 class="text-dark"> Prepare a kit</h3>
                 <div class="col-md-12">
                     <p class="text-dark">At a minimum, it is recommended that you have the basic supplies listed below. Keep supplies in an easy-to-carry emergency preparedness kit (“grab-bag”) that you can use at home or take with you in case you must evacuate.</p>
                   <ul>

                       <li>Water—(3-day supply for evacuation, 2-week supply for home)</li>
                       <li>Food—non-perishable, easy-to-prepare items (3-day supply for evacuation, 2-week supply for home)</li>
                       <li>Flashlight</li>
                       <li> Battery-powered or hand-crank radio</li>
                       <li>Extra batteries</li>
                       <li> First aid kit</li>
                       <li> Medications (7-day supply) and medical items</li>
                       <li>Multipurpose tool</li>
                       <li>Sanitation and personal hygiene items</li>
                       <li>Copies of personal documents (medication list and pertinent medical information, proof of address, deed/lease to home, passports, birth certificates, insurance policies)</li>
                       <li>Cell phone with chargers</li>
                       <li>Family and emergency contact information</li>
                       <li>Extra cash</li>
                       <li> Emergency blanket</li>
                       <li> Map(s) of the area</li>
                   </ul>
                     <br>
                     <p class="text-dark">Consider the needs of all family members and add supplies to your kit. Suggested items to help meet additional needs are:</p>
                   <ul>
                       <li>Medical supplies (hearing aids with extra batteries, glasses, contact lenses, syringes, cane)</li>
                       <li> Baby supplies (bottles, formula, baby food, diapers)</li>
                       <li>Games and activities for children</li>
                       <li>Two-way radios</li>
                       <li>Extra set of car keys and house keys</li>
                       <li>Manual can opener</li>
                   </ul>
                     <br>
                     <p class="text-dark">Additional supplies to keep at home or in your kit based on the types of disasters common to your area:</p>
                    <ul>
                        <li>Whistle</li>
                        <li>Surgical masks</li>
                        <li> Matches</li>
                        <li>Rain gear</li>
                        <li>Towels</li>
                        <li>Work gloves</li>
                        <li>Tools/supplies for securing your home</li>
                        <li>Extra clothing, hat and sturdy shoes</li>
                        <li> Plastic sheeting</li>
                        <li>Duct tape</li>
                        <li>Scissors</li>
                        <li>Household liquid bleach</li>
                        <li> Entertainment items</li>
                        <li>Blankets or sleeping bags</li>
                    </ul>
                     <br>
                 </div>
             </div>
         </li>

        <li>
            <div class="raw" id="2">
                <h3 class="text-dark"> Make a plan</h3>
                <div class="col-md-12">
                    <ul>
                         <li>Meet with your family or household members.</li>
                         <li>Discuss how to prepare and respond to emergencies that are most likely to happen where you live, learn, work and play.</li>
                         <li> Identify responsibilities for each member of your household and plan to work together as a team.</li>
                    </ul>
                    <br>
                    <p class="text-dark">Plan what to do in case you are separated during an emergency</p>
                    <ul>
                        <li>Choose two places to meet:
                            <ul style="list-style-type:square">
                                <li >Right outside your home in case of a sudden emergency, such as a fire</li>
                                <li>Outside your neighborhood, in case you cannot return home or are asked to evacuate</li>
                            </ul>

                        </li>
                        <li> Choose an out-of-area emergency contact person. It may be easier to text or call long distance if local phone lines are overloaded or out of service. Everyone should have emergency contact information in writing or programmed into their cell phones.</li>
                    </ul>
                    <br>

                    <p class="text-dark">Plan what to do if you have to evacuate</p>
                    <ul>
                       <li>Decide where you would go and what route you would take to get there. You may choose to stay with friends or relatives in a safe location or go to an evacuation shelter if necessary.</li>
                        <li> Practice evacuating your home twice a year. Drive your planned evacuation route and plot alternate routes on your map in case roads are impassable.</li>
                    </ul>
                    <br>
                </div>
            </div>
        </li>

        <li>
            <div class="raw" id="3">
                <h3 class="text-dark"> Be informed</h3>
                <p class="text-dark">You will be better prepared to safely reunite your family and loved ones during an emergency if you understand the risks, communicate with others in advance and know how to stay informed before, during and after a disaster. In doing so, it’s important to:</p>
                <ul>
                    <li>Find out what kinds of disasters, both natural and man-made, are most likely to occur in your area.</li>
                    <li> Learn how you can stay informed of changing conditions and instructions in an emergency (usually through radio/TV) and how your community will be notified of a possible disaster. Notification methods 	vary from community to community. One common method is to broadcast via emergency radio and TV broadcasts. You might hear a special siren, or get a telephone call or SMS, or emergency workers may go door-to-door</li>
                    <li>Schools, daycare providers, workplaces, neighborhoods and apartment buildings should all have site-specific emergency plans, just like individuals and families. Ask about plans at the places where your family spends the most time: work, school and other places you frequent. </li>
                    <li>Ask also about emergency preparedness and response plans at your nearest health facilities</li>
                </ul>
            </div>
        </li>


    </ol>
</div>

<br>
<br>













{% endblock %}