
{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block body %}




<br>
<br>
<br>

 <div class="raw">
         <div class="col-md-10 col-md-offset-1" >
             <h1> WHAT TO DO DURING DIFFERENT TYPES OF DISASTERS </h1>
         </div>
 </div>

<hr>
<hr>


<div class="container">
    <div>
         <h2 class="text-primary">What to Do During an <big>Earthquake</big></h2>
         <br>
        <div class="row">
         <div class="col-md-8">
             <p class="text-info">Be aware that some earthquakes are actually foreshocks and a larger earthquake might occur. Minimize your
movements to a few steps to a nearby safe place and if you are indoors, stay there until the shaking has stopped
and you are sure exiting is safe.</p>
             <div class="row">

                 <div class="col-md-12">
                 <h4><big>If indoors</big></h4>
                <ul>


                    <li>DROP to the ground; take COVER by getting under a sturdy table or other piece of furniture; and
HOLD ON until the shaking stops. If there isn’t a table or desk near you, cover your face and head with
your arms and crouch in an inside corner of the building. </li>
                    <li> Stay away from glass, windows, outside doors and walls, and anything that could fall, such as lighting
fixtures or furniture. </li>
                    <li>	 Stay in bed if you are there when the earthquake strikes. Hold on and protect your head with a pillow,
unless you are under a heavy light fixture that could fall. In that case, move to the nearest safe place. </li>
                    <li>Use a doorway for shelter only if it is in close proximity to you and if you know it is a strongly supported,
load-bearing doorway. </li>
                    <li>Stay inside until the shaking stops and it is safe to go outside. Research has shown that most injuries
occur when people inside buildings attempt to move to a different location inside the building or try to leave. </li>
                    <li>Be aware that the electricity may go out or the sprinkler systems or fire alarms may turn on.</li>
                    <li>DO NOT use the elevators.</li>
                </ul>

            </div>
                 <div class="col-md-12">
                 <h4><big>If outdoors</big></h4>
                <ul style="list-style-type:disc">


                    <li>Stay there</li>
                    <li>Move away from buildings, streetlights, and utility wires</li>
                    <li>Once in the open, stay there until the shaking stops. The greatest danger exists directly outside buildings, at exits and alongside exterior walls. Ground movement during an earthquake is seldom the direct cause of death or injury. Most earthquake-related casualties result from collapsing walls, flying glass, and falling objects.</li>

                </ul>
             </div>
                 <div class="col-md-12">
                  <h4><big>If in a moving vehicle</big></h4>
                <ul style="list-style-type:disc">


                    <li>	 Stop as quickly as safety permits and stay in the vehicle. Avoid stopping near or under buildings, trees,
overpasses, and utility wires. </li>
                    <li> Proceed cautiously once the earthquake has stopped. Avoid roads, bridges, or ramps that might have
been damaged by the earthquake. </li>

                </ul>
             </div>
                 <div class="col-md-12">
                  <h4><big>If trapped under debris</big></h4>
                <ul style="list-style-type:disc">


                    <li>Do not light a match.</li>
                    <li>Do not move about or kick up dust.</li>
                    <li>Cover your mouth with a handkerchief or clothing.</li>
                    <li>Tap on a pipe or wall so rescuers can locate you. Use a whistle if one is available. Shout only as a last
	 resort. Shouting can cause you to inhale dangerous amounts of dust.</li>

                </ul>
             </div>

            </div>

         </div>
         <div class="col-md-4">
              <img src="image2.jpg" alt="..." height="100" width="100">
         </div>
         </div>


    </div>
</div>
<hr>

<div class="container">
    <div>
        <h2 class="text-primary">What to Do During a <big>Tsunami</big></h2>
        <br>
        <div class="raw">

            <div class="col-md-8">
                <p class="text-info"></p>

                <div class="col-md-12">
                       <ul style="list-style-type:disc">
                           <li>Turn on your radio/TV to learn if there is a tsunami warning if an earthquake occurs and you are in a
coastal area.</li>
                           <li> Move inland to higher ground immediately and stay there</li>
                           <li>If there is noticeable recession in water away from the shoreline this is nature’s tsunami warning and it
should be heeded. You should move away immediately.</li>
                           <li>Stay away from flooded and damaged areas until officials say it is safe to return.</li>
                           <li> Stay away from debris in the water; it may pose a safety hazard to boats and people.</li>
                       </ul>


                </div>

            </div>

            <div class="col-md-4">
              <img src="image2.jpg" alt="..." height="100" width="100">
           </div>

         </div>
    </div>
</div>
<hr>

<div class="container">
    <div>
        <h2 class="text-primary">What to Do During a <big>Volcanic Eruption</big></h2>
        <br>
        <div class="raw">

            <div class="col-md-8">

                <div class="raw">

                    <div class="col-md-12">
                      <h4><big>If a Volcano Erupts Where You Live</big></h4>
                      <ul >

                        <li>Follow the evacuation order issued by authorities and evacuate immediately from the volcano area to
	 avoid flying debris, hot gases, lateral blast, and lava flow.</li>
                        <li> Be aware of mudflows. The danger from a mudflow increases near stream channels and with prolonged
	 heavy rains. Mudflows can move faster than you can walk or run. Look upstream before crossing a bridge,
	 and do 	not cross the bridge if a mudflow is approaching.</li>
                        <li>Avoid river valleys and low-lying areas.</li>
                        <li>Remember to help your neighbors who may require special assistance - infants, elderly people, and
people with disabilities.</li>

                      </ul>

                    </div>

                    <div class="col-md-12">

                        <h4><big>Protection from Falling Ash</big></h4>
                        <ul>
                            <li> Listen to a battery-powered radio or television for the latest emergency information.</li>
                            <li> If you have a respiratory ailment, avoid contact with any amount of ash.</li>
                            <li>Wear long-sleeved shirts and long pants.</li>
                            <li>Use goggles and wear eyeglasses instead of contact lenses.</li>
                            <li> Use a dust mask or hold a damp cloth over your face to help with breathing.</li>
                            <li>Stay away from areas downwind from the volcano to avoid volcanic ash</li>
                            <li>Stay indoors until the ash has settled unless there is a danger of the roof collapsing.</li>
                            <li>Close doors, windows, and all ventilation in the house (chimney vents, furnaces, air conditioners, fans, and
other vents.</li>
                            <li>Clear heavy ash from flat or low-pitched roofs and rain gutters.</li>
                            <li>Avoid running car or truck engines. Driving can stir up volcanic ash that can clog engines, damage moving parts, and stall vehicles.</li>
                            <li>Avoid driving in heavy ash fall unless absolutely required. If you have to drive, do so very slowly.</li>
                        </ul>

                    </div>

                </div>

            </div>

            <div class="col-md-4">

               <img src="image2.jpg" alt="..." height="100" width="100">

            </div>

        </div>

    </div>

</div>
<hr>


<div class="container">
    <div>
         <h2 class="text-primary">What to Do During a <big>Cyclone</big></h2>
         <br>
         <div class="raw">

             <div class="col-md-8">

                 <div class="raw">

                     <div class="col-md-12">

                         <ul>
                             <li> Be alert to changing weather conditions.</li>
                             <li> Listen to radio/TV for the latest information.</li>
                             <li> Look for approaching storms.</li>
                             <li>
                                 Look for the following danger signs:
                                 <ul style="list-style-type:square">
                                     <li> Dark, often greenish sky</li>
                                     <li> Large hail</li>
                                     <li>A large, dark, low-lying cloud (particularly if rotating)</li>
                                     <li> Loud roar, similar to a freight train.</li>
                                 </ul>
                             </li>
                             <li>If you see approaching storms or any of the danger signs, be prepared to take shelter immediately</li>
                             <li>	 If you are under a tornado WARNING, seek shelter immediately.</li>
                             <i>Note</i>in places where you have designated cyclone shelters – take shelter there.
                         </ul>
                     </div>
                     <div class="col-md-12">
                          <h4><big>If indoors</big></h4>
                         <ul>
                             <li> Go to a pre-designated shelter area such as a safe room, basement, storm cellar, or the lowest building level. If there is no basement, go to the center of an interior room on the lowest level away from corners, windows,doors, and outside walls. Put as many walls as possible between you and the outside. Get under a sturdy table and use your arms to protect your head and neck. Do not open windows.</li>

                         </ul>
                     </div>
                      <div class="col-md-12">

                           <h4><big>If in a moving vehicle:</big></h4>
                          <ul>
                              <li> Get out and go to the lowest floor of a sturdy, nearby building or a storm shelter.</li>
                          </ul>
                      </div>
                      <div class="col-md-12">
                          <h4><big>If outside</big></h4>
                          <ul>
                              <li>Lie flat in a nearby ditch or depression and cover your head with your hands. Be aware of the potential for flooding.</li>
                               <li>	 Do not get under an overpass or bridge. You are safer in a low, flat location. Never try to outrun a tornado in urban or congested areas in a car or truck. Instead, leave the vehicle immediately for safe shelter</li>
                               <li> Watch out for flying debris. Flying debris from tornadoes causes most fatalities and injuries.</li>
                          </ul>
                      </div>
                 </div>
             </div>

             <div class="col-md-4">
                 <img src="image2.jpg" alt="..." height="100" width="100">
             </div>
         </div>
    </div>
</div>
<hr>












{% endblock %}